//Open Sans Regular
@font-face {
    font-family: "Open Sans Regular";
    src: url("../font/OpenSans/OpenSans-Regular.ttf");
    font-display: swap;
}

//Open Sans Bold
@font-face {
    font-family: "Open Sans Bold";
    src: url("../font/OpenSans/OpenSans-Bold.ttf");
    font-display: swap;
}

//Noto Serif Bold
@font-face {
    font-family: "Noto Serif Bold";
    src: url("../font/NotoSerif/NotoSerif-Bold.ttf");
    font-display: swap;
}
