//Montserrat Regular
@font-face {
    font-family: "Montserrat Regular";
    src: url("../font/Montserrat/Montserrat-Regular.ttf");
    font-display: swap;
}

//Montserrat SemiBold
@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../font/Montserrat/Montserrat-SemiBold.ttf");
    font-display: swap;
}

//Kodchasan SemiBold
@font-face {
    font-family: "Kodchasan SemiBold";
    src: url("../font/Kodchasan/Kodchasan-SemiBold.ttf");
    font-display: swap;
}
