$orange: #F06600;
$neutral: #666262;
$blue: #ECF2F4;
$white: #fff;

$colors: (
    "orange": (
        100: mix(white, $orange, 80%),
        200: mix(white, $orange, 60%),
        300: mix(white, $orange, 40%),
        400: mix(white, $orange, 20%),
        500: $orange,
        600: mix(black, $orange, 20%),
        700: mix(black, $orange, 40%),
        800: mix(black, $orange, 60%),
        900: mix(black, $orange, 80%),
    ),
    "neutral": (
        100: mix(white, $neutral, 80%),
        200: mix(white, $neutral, 60%),
        300: mix(white, $neutral, 40%),
        400: mix(white, $neutral, 20%),
        500: $neutral,
        600: mix(black, $neutral, 20%),
        700: mix(black, $neutral, 40%),
        800: mix(black, $neutral, 60%),
        900: mix(black, $neutral, 80%),
    ),
    "blue": (
        500: $blue
    ),
    "white":(
        500: $white
    )
);
